---
layout: default
title: Long Haul
---

<div class="home" id="home">
  <h1 class="pageTitle">New Developer</h1>
  <p>안녕하세요. 저는 예비 개발자 이수빈입니다. 저는 동서대학교에서 컴퓨터 공학을 전공하였고 아직 계속 공부하고 있습니다.
    제가 이때까지 개발하였던 프로젝트 입니다. 자유롭게 보시고 피드백이나 질문을 남겨주세요! 감사합니다.</p>
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
</div>
